<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asianwallets.permissions.dao.ChannelMapper">
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.Channel">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="pay_code" property="payCode" jdbcType="VARCHAR"/>
        <result column="channel_code" property="channelCode" jdbcType="VARCHAR"/>
        <result column="channel_en_name" property="channelEnName" jdbcType="VARCHAR"/>
        <result column="channel_cn_name" property="channelCnName" jdbcType="VARCHAR"/>
        <result column="channel_img" property="channelImg" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="country_type" property="countryType" jdbcType="TINYINT"/>
        <result column="trans_type" property="transType" jdbcType="TINYINT"/>
        <result column="channel_connect_method" property="channelConnectMethod" jdbcType="TINYINT"/>
        <result column="pay_type" property="payType" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="service_name_mark" property="serviceNameMark" jdbcType="VARCHAR"/>
        <result column="settle_cycle" property="settleCycle" jdbcType="VARCHAR"/>
        <result column="issuer_id" property="issuerId" jdbcType="VARCHAR"/>
        <result column="notify_server_url" property="notifyServerUrl" jdbcType="VARCHAR"/>
        <result column="notify_browser_url" property="notifyBrowserUrl" jdbcType="VARCHAR"/>
        <result column="pay_url" property="payUrl" jdbcType="VARCHAR"/>
        <result column="void_url" property="voidUrl" jdbcType="VARCHAR"/>
        <result column="refund_url" property="refundUrl" jdbcType="VARCHAR"/>
        <result column="channel_single_select_url" property="channelSingleSelectUrl" jdbcType="VARCHAR"/>
        <result column="channel_batch_select_url" property="channelBatchSelectUrl" jdbcType="VARCHAR"/>
        <result column="limit_min_amount" property="limitMinAmount" jdbcType="DECIMAL"/>
        <result column="limit_max_amount" property="limitMaxAmount" jdbcType="DECIMAL"/>
        <result column="channel_rate" property="channelRate" jdbcType="DECIMAL"/>
        <result column="channel_min_rate" property="channelMinRate" jdbcType="DECIMAL"/>
        <result column="channel_max_rate" property="channelMaxRate" jdbcType="DECIMAL"/>
        <result column="channel_fee_type" property="channelFeeType" jdbcType="VARCHAR"/>
        <result column="channel_gateway_rate" property="channelGatewayRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_min_rate" property="channelGatewayMinRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_max_rate" property="channelGatewayMaxRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_fee_type" property="channelGatewayFeeType" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="channel_gateway_charge" property="channelGatewayCharge" jdbcType="TINYINT"/>
        <result column="channel_gateway_status" property="channelGatewayStatus" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="support_refund_state" property="supportRefundState" jdbcType="BIT"/>
        <result column="channel_merchant_id" property="channelMerchantId" jdbcType="VARCHAR"/>
        <result column="md5_key_str" property="md5KeyStr" jdbcType="VARCHAR"/>
        <result column="extend1" property="extend1" jdbcType="VARCHAR"/>
        <result column="extend2" property="extend2" jdbcType="VARCHAR"/>
        <result column="extend3" property="extend3" jdbcType="VARCHAR"/>
        <result column="extend4" property="extend4" jdbcType="VARCHAR"/>
        <result column="extend5" property="extend5" jdbcType="VARCHAR"/>
        <result column="extend6" property="extend6" jdbcType="VARCHAR"/>
        <result column="extend7" property="extend7" jdbcType="VARCHAR"/>
        <result column="extend8" property="extend8" jdbcType="VARCHAR"/>
        <result column="extend9" property="extend9" jdbcType="VARCHAR"/>
        <result column="extend10" property="extend10" jdbcType="VARCHAR"/>
        <result column="is_report" property="isReport" jdbcType="BIT"/>
        <result column="report_form" property="reportForm" jdbcType="TINYINT"/>
        <result column="refunding_is_return_fee" property="refundingIsReturnFee" jdbcType="TINYINT"/>
        <result column="channel_agent_id" property="channelAgentId" jdbcType="VARCHAR"/>
        <result column="channel_refund_fee_type" property="channelRefundFeeType" jdbcType="VARCHAR"/>
        <result column="channel_refund_fee_rate" property="channelRefundFeeRate" jdbcType="DECIMAL"/>
        <result column="channel_refund_max_rate" property="channelRefundMaxRate" jdbcType="DECIMAL"/>
        <result column="channel_refund_min_rate" property="channelRefundMinRate" jdbcType="DECIMAL"/>
        <result column="order_validity" property="orderValidity" jdbcType="DECIMAL"/>
        <result column="only_today_order_refund" property="onlyTodayOrderRefund" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
       id, channel_code, channel_en_name, channel_cn_name, channel_img, country, country_type, trans_type, pay_type,
        currency, settle_cycle, channel_single_select_url, channel_batch_select_url, limit_min_amount, limit_max_amount,
        create_time, channel_merchant_id, md5_key_str,
        update_time, creator, pay_code,service_name_mark,
        issuer_id, channel_connect_method, only_today_order_refund, notify_server_url, notify_browser_url,
        channel_rate, channel_fee_type, channel_min_rate, channel_max_rate,
        channel_gateway_rate, channel_gateway_min_rate, channel_gateway_max_rate, channel_gateway_fee_type, channel_gateway_charge, channel_gateway_status,
        modifier, remark, enabled, support_refund_state, refund_url, sort, pay_url, void_url, order_validity,
        extend1, extend2, extend3, extend4, extend5, extend6, extend7, extend8, extend9, extend10,
        is_report, report_form, refunding_is_return_fee, channel_agent_id,
        channel_refund_fee_type, channel_refund_fee_rate, channel_refund_max_rate, channel_refund_min_rate
    </sql>

    <select id="selectByChannelCode" resultType="com.asianwallets.common.entity.Channel">
        select id,
               channel_code as channelCode,
               channel_cn_name,
               channel_en_name,
               channel_img,
               pay_code,
               country_type,
               country,
               trans_type,
               pay_type,
               currency,
               issuer_id,
               settle_cycle,
               channel_connect_method,
               refund_url,
               channel_single_select_url,
               channel_batch_select_url,
               limit_max_amount,
               limit_min_amount,
               support_refund_state,
               create_time,
               update_time,
               creator,
               modifier,
               remark,
               enabled,
               channel_rate,
               channel_fee_type,
               channel_min_rate,
               channel_max_rate,
               channel_gateway_rate,
               channel_gateway_fee_type,
               channel_gateway_charge,
               channel_gateway_status,
               channel_gateway_min_rate,
               channel_gateway_max_rate,
               channel_merchant_id,
               md5_key_str,
               sort
        from channel
        where channel_code = #{code};
    </select>
    <select id="selectAllChannel" resultType="com.asianwallets.common.vo.MChannelVO">
        select channel_code    as cid,
               channel_cn_name as cName
        from channel
        where enabled = 1;
    </select>


</mapper>