<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.trade.dao.MerchantProductMapper">
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.MerchantProduct">
        <result column="id" property="id"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="product_id" property="productId"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="product_abbrev" property="productAbbrev"/>
        <result column="trade_direction" property="tradeDirection"/>
        <result column="trans_type" property="transType"/>
        <result column="pay_type" property="payType"/>
        <result column="rate_type" property="rateType"/>
        <result column="min_tate" property="minTate"/>
        <result column="max_tate" property="maxTate"/>
        <result column="rate" property="rate"/>
        <result column="add_value" property="addValue"/>
        <result column="limit_amount" property="limitAmount"/>
        <result column="daily_trading_count" property="dailyTradingCount"/>
        <result column="float_rate" property="floatRate"/>
        <result column="divided_ratio" property="dividedRatio"/>
        <result column="divided_mode" property="dividedMode"/>
        <result column="fee_payer" property="feePayer"/>
        <result column="refund_default" property="refundDefault"/>
        <result column="refund_rate_type" property="refundRateType"/>
        <result column="refund_min_tate" property="refundMinTate"/>
        <result column="refund_max_tate" property="refundMaxTate"/>
        <result column="refund_rate" property="refundRate"/>
        <result column="refund_add_value" property="refundAddValue"/>
        <result column="settle_cycle" property="settleCycle"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="audit_remark" property="auditRemark"/>
        <result column="effect_time" property="effectTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="ext1" property="ext1"/>
        <result column="ext2" property="ext2"/>
        <result column="ext3" property="ext3"/>
        <result column="ext4" property="ext4"/>
        <result column="ext5" property="ext5"/>
        <result column="ext6" property="ext6"/>
        <result column="ext7" property="ext7"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant_id,product_id, merchant_name, product_abbrev, trade_direction, trans_type,pay_type,
         rate_type,min_tate,max_tate,rate,add_value,limit_amount,daily_trading_count,float_rate,divided_ratio,divided_mode,
         fee_payer,refund_default,refund_rate_type,refund_min_tate,refund_max_tate,refund_rate,refund_add_value,settle_cycle,
         audit_status,audit_remark,effect_time,create_time,update_time,creator,modifier,remark,enabled,ext1,ext2,ext3,ext4,ext5,
         ext6,ext7
    </sql>

    <select id="selectByMerchantIdAndProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from merchant_product where merchant_id = #{merchantId} and product_id = #{productId}
    </select>
    <select id="selectOnlineInfoDetail" resultType="com.asianwallets.trade.vo.OnlineInfoDetailVO">
        SELECT mc.mer_pro_id  AS merProId,
               b.bank_name    AS bankName,
               p.product_code AS productCode,
               c.channel_code AS channelCode
        FROM merchant_product mp
                 left join product p on p.id = mp.product_id
                 left join merchant_channel mc on mp.id = mc.mer_pro_id
                 left join channel_bank cb on mc.cha_ban_id = cb.id
                 left join bank b on cb.bank_id = b.id
                 left join channel c on c.id = cb.channel_id
        WHERE mp.enabled = 1
          AND mc.enabled = 1
          AND cb.enabled = 1
          AND b.enabled = 1
          AND c.enabled = 1
          AND p.enabled = 1
          AND p.trade_direction = #{tradeDirection}
          AND c.currency = p.currency
          AND mp.merchant_id = #{merchantId}
          AND b.issuer_id = #{issuerId}
        ORDER BY mc.sort
    </select>


    <select id="selectMerPro" resultMap="PosMerProMap">
        select p.product_code         as productCode,
               p.trans_type           as transType,
               pt.name                as payTypeName,
               p.product_img          as productImg,
               p.product_details_logo as productDetailsLogo,
               p.product_print_logo   as productPrintLogo,
               substring(pt.name, -3) as flag
        from merchant m,
             product p,
             merchant_product mp,
             pay_type pt
        where m.id = mp.merchant_id
          and p.id = mp.product_id
          and p.pay_type = pt.extend1
          and m.id = #{merchantId}
          and p.trade_direction = #{tradeDirection}
          and pt.language = #{language}
          and m.enabled = 1
          and mp.enabled = 1
          and p.trans_type = 1
          order by mp.rank desc
    </select>

    <resultMap id="PosMerProMap" type="com.asianwallets.trade.vo.PosMerProVO">
        <result column="productCode" property="productCode" jdbcType="INTEGER"/>
        <result column="transType" property="transType" jdbcType="VARCHAR"/>
        <result column="payTypeName" property="payTypeName" jdbcType="VARCHAR"/>
        <result column="productImg" property="productImg" jdbcType="VARCHAR"/>
        <result column="productDetailsLogo" property="productDetailsLogo" jdbcType="VARCHAR"/>
        <result column="productPrintLogo" property="productPrintLogo" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
