<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.rights.dao.RightsOrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.RightsOrders">
        <result column="id" property="id"/>
        <result column="institution_id" property="institutionId"/>
        <result column="institution_name" property="institutionName"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="request_order_no" property="requestOrderNo"/>
        <result column="order_no" property="orderNo"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="deduction_amount" property="deductionAmount"/>
        <result column="actual_amount" property="actualAmount"/>
        <result column="rights_currency" property="rightsCurrency"/>
        <result column="order_no" property="orderNo"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="cancel_verification_amount" property="cancelVerificationAmount"/>
        <result column="system_name" property="systemName"/>
        <result column="ticket_id" property="ticketId"/>
        <result column="ticket_amount" property="ticketAmount"/>
        <result column="ticket_num" property="ticketNum"/>
        <result column="rights_type" property="rightsType"/>
        <result column="user_id" property="userId"/>
        <result column="system_order_id" property="systemOrderId"/>
        <result column="deal_id" property="dealId"/>
        <result column="status" property="status"/>
        <result column="server_url" property="serverUrl"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="enabled" property="enabled"/>
        <result column="ext1" property="ext1"/>
        <result column="ext2" property="ext2"/>
        <result column="ext3" property="ext3"/>
        <result column="ext4" property="ext4"/>
        <result column="ext5" property="ext5"/>
        <result column="ext6" property="ext6"/>
        <result column="ext7" property="ext7"/>
    </resultMap>
    <resultMap id="SecResultMap" type="com.asianwallets.common.vo.RightsOrdersVO">
        <result column="institution_id" property="institutionId"/>
        <result column="institution_name" property="institutionName"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="order_no" property="orderNo"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="deduction_amount" property="deductionAmount"/>
        <result column="actual_amount" property="actualAmount"/>
        <result column="rights_currency" property="rightsCurrency"/>
        <result column="ticket_amount" property="ticketAmount"/>
        <result column="system_name" property="systemName"/>
        <result column="ticket_id" property="ticketId"/>
        <result column="rights_type" property="rightsType"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="common">
        id,institution_id,institution_name,merchant_id,merchant_name,shop_id,shop_name,order_no,order_amount,deduction_amount
        request_order_no,rights_currency,cancel_verification_amount,system_name,ticket_id,ticket_amount,actual_amount,
        ticket_num,rights_type,user_id,mobile_no,system_order_id,deal_id,status,server_url,remark,create_time,
        update_time,creator,modifier,enabled,ext1,ext2,ext3,ext4,ext5,ext6,ext7
    </sql>

    <select id="pageRightsOrders" resultMap="SecResultMap">
        select
        ro.institution_id,ro.institution_name,ro.merchant_id,ro.merchant_name,ro.order_no,ro.order_amount,
        ro.deduction_amount,ro.actual_amount,ro.ticket_id,ro.rights_currency,
        ro.rights_type,ro.system_order_id,ro.system_name,ro.create_time,ro.update_time,
        ro.status,ro.remark
        from rights_orders ro
        <where>
            <if test="id != null and id != ''">
                AND  ro.id = #{id}
            </if>
            <if test="orderNo != null and orderNo != ''">
                AND  ro.orderNo = #{orderNo}
            </if>
            <if test="institutionId != null and institutionId != ''">
                AND  ro.institution_id = #{institutionId}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND  ro.institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="merchantId != null and merchantId != ''">
                AND  ro.merchant_id = #{merchantId}
            </if>
            <if test="merchantName != null and merchantName != ''">
                AND  ro.merchant_name LIKE CONCAT(CONCAT('%', #{merchantName}), '%')
            </if>
            <if test="rightsType != null and rightsType != ''">
                AND  ro.rights_type = #{rightsType}
            </if>
            <if test="status != null and status != ''">
                AND  ro.status = #{status}
            </if>
            <if test="ticketId != null and ticketId != ''">
                AND  ro.ticket_id  LIKE CONCAT(CONCAT('%', #{ticketId}), '%')
            </if>
            <if test="systemName != null and systemName != ''">
                AND  ro.system_name = #{systemName}
            </if>
            <if test="startDate != null and startDate != ''">
                AND DATE_FORMAT( ro.create_time,'%Y-%m-%d') &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND DATE_FORMAT( ro.create_time,'%Y-%m-%d') &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="exportRightsOrders" resultMap="SecResultMap">
        select
        ro.institution_id,ro.institution_name,ro.order_no,ro.order_amount,merchant_id,merchant_name,ticket_amount,
        ro.deduction_amount,ro.actual_amount,ro.ticket_id,ro.rights_currency,
        ro.rights_type,ro.system_order_id,ro.system_name,ro.create_time,ro.update_time,
        ro.status,ro.remark
        from rights_orders ro
        <where>
            <if test="orderNo != null and orderNo != ''">
                AND  ro.orderNo = #{orderNo}
            </if>
            <if test="institutionId != null and institutionId != ''">
                AND  ro.institution_id = #{institutionId}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND  ro.institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="merchantId != null and merchantId != ''">
                AND  ro.merchant_id = #{merchantId}
            </if>
            <if test="merchantName != null and merchantName != ''">
                AND  ro.merchant_name LIKE CONCAT(CONCAT('%', #{merchantName}), '%')
            </if>
            <if test="rightsType != null and rightsType != ''">
                AND  ro.rights_type = #{rightsType}
            </if>
            <if test="status != null and status != ''">
                AND  ro.status = #{status}
            </if>
            <if test="ticketId != null and ticketId != ''">
                AND  ro.ticket_id  LIKE CONCAT(CONCAT('%', #{ticketId}), '%')
            </if>
            <if test="systemName != null and systemName != ''">
                AND  ro.system_name = #{systemName}
            </if>
            <if test="startDate != null and startDate != ''">
                AND DATE_FORMAT( ro.create_time,'%Y-%m-%d') &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND DATE_FORMAT( ro.create_time,'%Y-%m-%d') &lt;= #{endDate}
            </if>
        </where>
        order by ro.create_time desc
    </select>


    <select id="selectRightsOrders" resultType="com.asianwallets.common.vo.RightsOrdersApiVO">
        select
        ro.create_time as createTime,
        ro.institution_id as institutionId,
        ro.institution_name as institutionName,
        ro.order_no as orderNo,
        ro.order_amount as orderAmount,
        ro.rights_currency as currency,
        ro.ticket_id as ticketId,
        ro.deduction_amount as discountAmount,
        ro.actual_amount as actualPayment,
        ro.rights_type as preferentialType,
        ro.update_time as updateTime,
        ro.system_name as systemName,
        ro.status as status,
        ro.remark as remark
        from rights_orders ro
        <where>
            <if test="institutionId != null and institutionId != ''">
                AND ro.institution_id = #{institutionId}
            </if>
            <if test="merchantId != null and merchantId != ''">
                AND ro.merchant_id = #{merchantId}
            </if>
            <if test="ticketId != null and ticketId != ''">
                AND ro.ticket_id  LIKE CONCAT(CONCAT('%', #{ticketId}), '%')
            </if>
        </where>
    </select>

    <select id="selectByTicketId" resultMap="BaseResultMap">
        select
        <include refid="common"/>
        from asianwallet_institution.rights_orders
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="ticketId != null and ticketId != ''">
                AND ticket_id  LIKE CONCAT(CONCAT('%', #{ticketId}), '%')
            </if>
        </where>
    </select>

</mapper>
