<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.base.dao.BankCardMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.BankCard">
        <result column="id" property="id"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="merchant_type" property="merchantType"/>
        <result column="account_code" property="accountCode"/>
        <result column="bank_account_code" property="bankAccountCode"/>
        <result column="account_name" property="accountName"/>
        <result column="settle_currency" property="settleCurrency"/>
        <result column="bank_currency" property="bankCurrency"/>
        <result column="iban" property="iban"/>
        <result column="bank_code" property="bankCode"/>
        <result column="bank_address" property="bankAddress"/>
        <result column="bank_card_billing_address" property="bankCardBillingAddress"/>
        <result column="nature" property="nature"/>
        <result column="receiver_country" property="receiverCountry"/>
        <result column="receiver_address" property="receiverAddress"/>
        <result column="receiver" property="receiver"/>
        <result column="bank_name" property="bankName"/>
        <result column="swift_code" property="swiftCode"/>
        <result column="intermediary_bank_default" property="intermediaryBankDefault"/>
        <result column="intermediary_bank_code" property="intermediaryBankCode"/>
        <result column="intermediary_bank_name" property="intermediaryBankName"/>
        <result column="intermediary_bank_address" property="intermediaryBankAddress"/>
        <result column="intermediary_bank_account_no" property="intermediaryBankAccountNo"/>
        <result column="intermediary_bank_country" property="intermediaryBankCountry"/>
        <result column="intermediary_other_code" property="intermediaryOtherCode"/>
        <result column="default_flag" property="defaultFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <select id="pageBankCard" resultMap="BaseResultMap">
        select
        b.id as id, b.merchant_name as merchantName,
        b.merchant_id as merchantId,b.merchant_type as merchantType,
        b.account_name as accountName,
        b.intermediary_bank_default as intermediaryBankDefault,
        b.create_time,b.update_time,b.enabled,b.bank_account_code as bankAccountCode,
        b.bank_name as bankName, b.bank_currency as bankCurrency,b.settle_currency as settleCurrency,
        b.swift_code as swiftCode,b.bank_code as bankCode,b.intermediary_bank_code,b.intermediary_bank_name,
        b.intermediary_bank_address,b.intermediary_bank_account_no,
        b.intermediary_bank_country,b.intermediary_other_code,b.iban as iban,
        b.default_flag as defaultFlag,b.receiver_address as receiverAddress
        from bank_card b
        <where>
            <if test="merchantName!=null and merchantName != ''">
                and b.merchant_name LIKE CONCAT(CONCAT('%', #{merchantName}), '%')
            </if>
            <if test="merchantType!=null and merchantType != ''">
                and b.merchant_type = #{merchantType}
            </if>
            <if test="merchantId!=null and merchantId != ''">
                and b.merchant_id=#{merchantId}
            </if>
            <if test="bankCardId!=null and bankCardId != ''">
                and b.id=#{bankCardId}
            </if>
            <if test="enabled != null">
                and b.enabled = #{enabled}
            </if>
            <if test="bankCurrency!=null and bankCurrency != ''">
                and b.bank_currency=#{bankCurrency}
            </if>
            <if test="settleCurrency!=null and settleCurrency != ''">
                and b.settle_currency=#{settleCurrency}
            </if>
            <if test="defaultFlag != null">
                and b.default_flag = #{defaultFlag}
            </if>
            <if test="startTime != null and startTime != ''">
                AND DATE_FORMAT(b.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND DATE_FORMAT(b.create_time,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="selectBankCardByMerId" resultMap="BaseResultMap">
        select
        b.id as id, b.merchant_id as merchantId,b.merchant_name as merchantName,
        b.intermediary_bank_default as intermediaryBankDefault,b.merchant_type as merchantType,
        b.account_code as accountCode,b.account_name as accountName,
        b.create_time,b.update_time,b.enabled,b.bank_account_code as bankAccountCode,
        b.bank_name as bankName, b.bank_currency as bankCurrency,b.settle_currency as settleCurrency,
        b.swift_code as swiftCode,b.bank_code as bankCode,b.intermediary_bank_code,b.intermediary_bank_name,
        b.intermediary_bank_address,b.intermediary_bank_account_no,
        b.intermediary_bank_country,b.intermediary_other_code,b.iban as iban,
        b.default_flag as defaultFlag,b.receiver_address as receiverAddress
        from bank_card b
        where
        b.merchant_id = #{merchantId}
    </select>
</mapper>
