<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asianwallets.base.dao.CountryMapper">
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.Country">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="extend1" property="extend1" jdbcType="VARCHAR"/>
        <result column="extend2" property="extend2" jdbcType="VARCHAR"/>
        <result column="extend3" property="extend3" jdbcType="VARCHAR"/>
        <result column="extend4" property="extend4" jdbcType="VARCHAR"/>
        <result column="extend5" property="extend5" jdbcType="VARCHAR"/>
        <result column="extend6" property="extend6" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="CountrysVOMap" type="com.asianwallets.common.vo.CountrysVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="CountryVOResultMap" type="com.asianwallets.common.vo.CountryVO">
        <id column="country_id" property="countryId" jdbcType="VARCHAR"/>
        <result column="country_name" property="countryName" jdbcType="VARCHAR"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <collection javaType="list" property="areaVOS" resultMap="AreaVOResultMap"/>
    </resultMap>

    <resultMap id="AreaVOResultMap" type="com.asianwallets.common.vo.AreaVO">
        <result column="area_id" property="areaId" jdbcType="VARCHAR"/>
        <result column="area_parent_id" property="areaParentId" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, parent_id, name, type ,area_code, language,  create_time,
    update_time, creator, modifier, remark, extend1, extend2, extend3, extend4, extend5, 
    extend6,enabled
    </sql>


    <select id="inquireAllCountry" resultMap="CountryVOResultMap">
        select a.id        as country_id,
               a.area_code as area_code,
               a.name      as country_name,
               b.id        as area_id,
               b.parent_id as area_parent_id,
               b.name      as area_name
        from country a
                 left join country b on a.id = b.parent_id
        where a.id is not null
          and b.id is not null
          and a.enabled = 1
          and b.enabled = 1
          and a.language = #{language}
          and b.language = #{language}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from country
        where name = #{name};

    </select>

    <select id="pageCountry" resultMap="CountrysVOMap">
        select
        a.id as parent_id,
        b.id as id,
        a.area_code as area_code,
        a.name as country,
        b.name as area,
        b.language,
        b.create_time,
        b.update_time,
        b.remark,
        b.enabled
        from country a left join country b on a.id = b.parent_id
        <where>
            <if test="country != null and country != ''">
                and a.name LIKE CONCAT(CONCAT('%',#{country}),'%')
            </if>
            <if test="area != null and area != ''">
                and b.name LIKE CONCAT(CONCAT('%',#{area}),'%')
            </if>
            <if test="enabled != null and enabled != ''">
                and b.enabled =#{enabled}
            </if>
            <if test="language != null and language != ''">
                and a.language=#{language}
            </if>
            and a.id is not null and b.id is not null and a.language=b.language
        </where>

    </select>

    <update id="banCountry">
        update country
        set enabled     = #{enabled},
            modifier    = #{modifier},
            update_time = now()
        where id = #{id};
    </update>

</mapper>