<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asianwallets.base.dao.CountryMapper">
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.Country">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <result column="country_name" property="countryName" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="extend1" property="extend1" jdbcType="VARCHAR"/>
        <result column="extend2" property="extend2" jdbcType="VARCHAR"/>
        <result column="extend3" property="extend3" jdbcType="VARCHAR"/>
        <result column="extend4" property="extend4" jdbcType="VARCHAR"/>
        <result column="extend5" property="extend5" jdbcType="VARCHAR"/>
        <result column="extend6" property="extend6" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="CountrysVOMap" type="com.asianwallets.common.vo.CountrysVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="CountryVOResultMap" type="com.asianwallets.common.vo.CountryVO">
        <id column="country_id" property="countryId" jdbcType="VARCHAR"/>
        <result column="country_name" property="countryName" jdbcType="VARCHAR"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <collection javaType="list" property="areaVOS" resultMap="AreaVOResultMap"/>
    </resultMap>

    <resultMap id="AreaVOResultMap" type="com.asianwallets.common.vo.AreaVO">
        <result column="area_id" property="areaId" jdbcType="VARCHAR"/>
        <result column="area_parent_id" property="areaParentId" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, parent_id, area_name,country_name,area_code, language,  create_time,
    update_time, creator, modifier, remark, extend1, extend2, extend3, extend4, extend5, 
    extend6,enabled
    </sql>


    <select id="inquireAllCountry" resultMap="CountryVOResultMap">
        select c1.extend1      as country_id,
               c2.area_code    as area_code,
               c2.country_name as country_name,
               c2.extend1      as area_id,
               c1.extend1      as area_parent_id,
               c2.area_name    as area_name
        from country c1
                 left join country c2
                           on c1.id = c2.parent_id
        where c1.language = #{language}
          and c2.language = #{language}

    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from country
        where area_name = #{name};
    </select>

    <select id="pageCountry" resultMap="CountrysVOMap">
        select
        id as parent_id,
        id as id,
        area_code as area_code,
        country_name as country,
        area_name as area,
        language,
        create_time,
        update_time,
        remark,
        enabled
        from country
        <where>
            <if test="country != null and country != ''">
                and name LIKE CONCAT(CONCAT('%',#{country}),'%')
            </if>
            <if test="area != null and area != ''">
                and name LIKE CONCAT(CONCAT('%',#{area}),'%')
            </if>
            <if test="enabled != null">
                and enabled =#{enabled}
            </if>
            <if test="language != null and language != ''">
                and language=#{language}
            </if>
        </where>

    </select>

    <select id="selectByAreaName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from country where area_name LIKE CONCAT(CONCAT('%',#{area}),'%') ;
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select *
        from country
        where id = #{id}
          and area_name not LIKE CONCAT(CONCAT('%', #{area}), '%');
    </select>

    <select id="selectByLanguage" resultMap="BaseResultMap">
        select *
        from asianwallets_saas.country
        where enabled = 1
          and language = #{language};
    </select>

    <update id="banCountry">
        update country
        set enabled     = #{enabled},
            modifier    = #{modifier},
            update_time = now()
        where id = #{id};
    </update>

</mapper>