<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.base.dao.InstitutionProductMapper">
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.InstitutionProduct">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="institution_id" property="institutionId" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="VARCHAR"/>
        <result column="institution_name" property="institutionName" jdbcType="VARCHAR"/>
        <result column="product_abbrev" property="productAbbrev" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseSql">
		institution_id, product_id, institution_name ,product_abbrev,
		id,create_time, update_time ,creator ,modifier, remark
	</sql>

    <select id="selectByInstitutionId" resultMap="BaseResultMap">
        select
        <include refid="baseSql"/>
        from institution_product where institution_id = #{institutionId}
    </select>

    <select id="selectCountByInstitutionId" resultType="int">
        select count(*)
        from institution_product
        where institution_id = #{institutionId}
    </select>

    <select id="selectIdListByInstitutionId" resultType="String">
        select id
        from institution_product
        where institution_id = #{institutionId}
    </select>

    <resultMap id="InstitutionProductChannelVOMap" type="com.asianwallets.common.vo.InstitutionProductChannelVO">
        <result column="institutionId" property="institutionId" jdbcType="VARCHAR"/>
        <result column="productId" property="productId" jdbcType="VARCHAR"/>
        <result column="institutionName" property="institutionName" jdbcType="VARCHAR"/>
        <result column="productAbbrev" property="productAbbrev" jdbcType="VARCHAR"/>
        <result column="productName" property="productName" jdbcType="VARCHAR"/>
        <result column="payType" property="payType" jdbcType="VARCHAR"/>
        <result column="transType" property="transType" jdbcType="TINYINT"/>
        <collection property="institutionChannelVOList" javaType="list" resultMap="InstitutionChannelVOMap"/>
    </resultMap>

    <resultMap id="InstitutionChannelVOMap" type="com.asianwallets.common.vo.InstitutionChannelVO">
        <result column="channelId" property="channelId" jdbcType="VARCHAR"/>
        <result column="insProId" property="insProId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectRelevantInfoByInstitutionId" resultMap="InstitutionProductChannelVOMap">
        SELECT ip.institution_id                AS institutionId,
               ip.institution_name              AS institutionName,
               ip.product_id                    AS productId,
               ip.product_abbrev                AS productAbbrev,
               ic.channel_id                    AS channelId,
               ic.ins_pro_id                    AS insProId,
               concat(pt.NAME, '-', p.currency) AS productName,
               pt.NAME                          AS payType,
               p.trans_type                     AS transType
        FROM institution_product ip
                 LEFT JOIN institution_channel ic ON ip.id = ic.ins_pro_id
                 LEFT JOIN product p ON ip.product_id = p.id
                 LEFT JOIN pay_type pt ON p.pay_type = pt.extend1
                 LEFT JOIN merchant m ON m.institution_id = ip.institution_id
            AND pt.language = #{language}
        WHERE m.id = #{merchantId}
    </select>

    <delete id="deleteByInstitutionId">
       delete from institution_product where institution_id = #{institutionId}
    </delete>


    <select id="pageInstitutionRequests" resultMap="BaseResultMap">
        select
        institution_id,institution_name,create_time,creator,update_time,modifier
        from institution_product
        <where>
            <if test="institutionCode!=null and institutionCode!= ''">
                AND institution_id=#{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="startTime != null and startTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
    </select>
</mapper>
