<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.base.dao.InstitutionProductMapper">
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.InstitutionProduct">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="institution_id" property="institutionId" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="VARCHAR"/>
        <result column="institution_name" property="institutionName" jdbcType="VARCHAR"/>
        <result column="product_abbrev" property="productAbbrev" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseSql">
		institution_id, product_id, institution_name ,product_abbrev,
		id,create_time, update_time ,creator ,modifier, remark
	</sql>

    <select id="selectByInstitutionId" resultMap="BaseResultMap">
        select
        <include refid="baseSql"/>
        from institution_product where institution_id = #{institutionId}
    </select>

    <select id="selectCountByInstitutionId" resultType="int">
        select count(*)
        from institution_product
        where institution_id = #{institutionId}
    </select>

    <select id="selectIdListByInstitutionId" resultType="String">
        select id
        from institution_product
        where institution_id = #{institutionId}
    </select>

    <resultMap id="InstitutionProductChannelVOMap" type="com.asianwallets.common.vo.InstitutionProductChannelVO">
        <result column="institutionId" property="institutionId" jdbcType="VARCHAR"/>
        <result column="productId" property="productId" jdbcType="VARCHAR"/>
        <result column="institutionName" property="institutionName" jdbcType="VARCHAR"/>
        <result column="productAbbrev" property="productAbbrev" jdbcType="VARCHAR"/>
        <result column="productName" property="productName" jdbcType="VARCHAR"/>
        <result column="payType" property="payType" jdbcType="VARCHAR"/>
        <result column="payTypeId" property="payTypeId" jdbcType="VARCHAR"/>
        <result column="transType" property="transType" jdbcType="TINYINT"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <collection property="institutionChannelVOList" javaType="list" resultMap="InstitutionChannelVOMap"/>
    </resultMap>

    <resultMap id="InstitutionChannelVOMap" type="com.asianwallets.common.vo.InstitutionChannelVO">
        <result column="channelId" property="channelId" jdbcType="VARCHAR"/>
        <result column="insProId" property="insProId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectRelevantInfoByInstitutionId" resultMap="InstitutionProductChannelVOMap">
        SELECT ip.institution_id AS institutionId,
        ip.institution_name AS institutionName,
        ip.product_id AS productId,
        ip.product_abbrev AS productAbbrev,
        ic.channel_id AS channelId,
        ic.ins_pro_id AS insProId,
        ic.create_time AS createTime,
        ic.update_time AS updateTime,
        ic.creator AS creator,
        ic.modifier AS modifier,
        ic.remark AS remark,
        concat(pt.NAME, '-', p.currency) AS productName,
        pt.NAME AS payType,
        pt.extend1 AS payTypeId,
        p.trade_direction AS transType
        FROM institution_product ip
        LEFT JOIN institution_channel ic ON ip.id = ic.ins_pro_id
        LEFT JOIN product p ON ip.product_id = p.id
        LEFT JOIN pay_type pt ON p.pay_type = pt.extend1
        LEFT JOIN merchant m ON m.institution_id = ip.institution_id
        AND pt.language = #{language}
        <where>
            <if test="institutionId != null and institutionId!= ''">
                AND ip.institution_id = #{institutionId}
            </if>
            <if test="merchantId != null and merchantId!= ''">
                AND m.id = #{merchantId}
            </if>
        </where>
    </select>

    <delete id="deleteByInstitutionId">
       delete from institution_product where institution_id = #{institutionId}
    </delete>


    <select id="pageInstitutionRequests" resultMap="BaseResultMap">
        select DISTINCT
        institution_id,institution_name,create_time,creator,update_time,modifier
        from institution_product
        <where>
            <if test="institutionCode!=null and institutionCode!= ''">
                AND institution_id=#{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="startTime != null and startTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
    </select>


    <select id="pageInstitutionPro" resultType="com.asianwallets.common.vo.InstitutionProductVO">
        SELECT ip.institution_id AS institutionId,
        ip.institution_name AS institutionName,
        ip.product_id AS productId,
        ip.product_abbrev AS productAbbrev,
        ip.create_time AS createTime,
        ip.update_time AS updateTime,
        ip.creator AS creator,
        ip.modifier AS modifier,
        ip.remark AS remark,
        concat(pt.NAME, '-', p.currency) AS productName,
        pt.NAME AS payType,
        pt.extend1 AS payTypeId,
        p.trade_direction AS transType
        FROM institution_product ip
        LEFT JOIN product p ON ip.product_id = p.id
        LEFT JOIN pay_type pt ON p.pay_type = pt.extend1 AND pt.language = #{language}
        <where>
            <if test="institutionId!=null and institutionId!= ''">
                AND ip.institution_id=#{institutionId}
            </if>
            <if test="merchantId!=null and merchantId!= ''">
                AND m.merchant_id= #{merchantId}
            </if>
            <if test="transType!=null and transType!= ''">
                AND p.trade_direction=#{transType}
            </if>
            <if test="payType!=null and payType!= ''">
                AND pt.extend1=#{payType}
            </if>
        </where>
    </select>

    <resultMap id="InstitutionChannelMap" type="com.asianwallets.common.vo.InstitutionChannelQueryVO">
        <result column="institutionId" property="institutionId" jdbcType="VARCHAR"/>
        <result column="institutionName" property="institutionName" jdbcType="VARCHAR"/>
        <result column="channelCode" property="channelCode" jdbcType="VARCHAR"/>
        <result column="channelCnName" property="channelCnName" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="supportRefundState" property="supportRefundState" jdbcType="BIT"/>
        <result column="refundingIsReturnFee" property="refundingIsReturnFee" jdbcType="TINYINT"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <collection javaType="list" property="bankNames" resultMap="BankReleVantVOMap"/>
    </resultMap>

    <resultMap id="BankReleVantVOMap" type="com.asianwallets.common.vo.BankVO">
        <id column="bankID" property="bankID" jdbcType="VARCHAR"/>
        <result column="bankCode" property="bankCode" jdbcType="VARCHAR"/>
        <result column="bankName" property="bankName" jdbcType="VARCHAR"/>
        <result column="bankCountry" property="bankCountry" jdbcType="VARCHAR"/>
        <result column="bankCurrency" property="bankCurrency" jdbcType="VARCHAR"/>
        <result column="bankIssuerId" property="bankIssuerId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="pageInstitutionCha" resultMap="InstitutionChannelMap">
        SELECT
        ip.institution_id as institutionId,
        ip.institution_name as institutionName,
        c.channel_code as channelCode,
        c.channel_cn_name as channelCnName,
        c.currency as currency,
        c.support_refund_state as supportRefundState,
        c.refunding_is_return_fee as refundingIsReturnFee,
        c.sort as sort,
        c.enabled as enabled,
        b.id as bankID,
        b.bank_code as bankCode,
        b.bank_name as bankName,
        b.bank_country as bankCountry,
        b.bank_currency as bankCurrency,
        b.issuer_id as bankIssuerId,
        ip.create_time
        FROM institution_product ip
        left join institution_channel ic on ic.ins_pro_id=ip.id
        left join channel c on c.id=ic.channel_id
        LEFT JOIN channel_bank cb on cb.channel_id = c.id
        left join bank b on cb.bank_id = b.id
        <where>
            <if test="institutionId != null and institutionId != ''">
                AND ip.institution_id = #{institutionId}
            </if>
            <if test="channelCode != null and channelCode != ''">
                AND c.channel_code = #{channelCode}
            </if>
            <if test="channelCnName != null and channelCnName != ''">
                AND c.channel_cn_name LIKE CONCAT(CONCAT('%', #{channelCnName}), '%')
            </if>
            <if test="currency != null and currency != ''">
                AND c.currency = #{currency}
            </if>
            <if test="enabled != null ">
                and c.enabled=#{enabled}
            </if>
            <if test="supportRefundState != null and supportRefundState != ''">
                AND c.support_refund_state = #{supportRefundState}
            </if>
            <if test="refundingIsReturnFee != null">
                AND c.refunding_is_return_fee = #{refundingIsReturnFee}
            </if>
        </where>
    </select>


</mapper>
