<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asianwallets.base.dao.MerchantReportMapper">
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.MerchantReport">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="merchant_id" property="merchantId" jdbcType="VARCHAR"/>
        <result column="channel_code" property="channelCode" jdbcType="VARCHAR"/>
        <result column="institution_id" property="institutionId" jdbcType="VARCHAR"/>
        <result column="institution_name" property="institutionName" jdbcType="VARCHAR"/>
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"/>
        <result column="channel_name" property="channelName" jdbcType="VARCHAR"/>
        <result column="sub_merchant_code" property="subMerchantCode" jdbcType="VARCHAR"/>
        <result column="sub_merchant_name" property="subMerchantName" jdbcType="VARCHAR"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shop_code" property="shopCode" jdbcType="VARCHAR"/>
        <result column="sub_appid" property="subAppid" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="extend1" property="extend1" jdbcType="VARCHAR"/>
        <result column="extend2" property="extend2" jdbcType="VARCHAR"/>
        <result column="extend3" property="extend3" jdbcType="VARCHAR"/>
        <result column="extend4" property="extend4" jdbcType="VARCHAR"/>
        <result column="extend5" property="extend5" jdbcType="VARCHAR"/>
        <result column="extend6" property="extend6" jdbcType="VARCHAR"/>
        <result column="channel_mcc" property="channelMcc" jdbcType="VARCHAR"/>
        <result column="site_type" property="siteType" jdbcType="VARCHAR"/>
        <result column="site_url" property="siteUrl" jdbcType="VARCHAR"/>
        <result column="country_code" property="countryCode" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, merchant_id, channel_code, institution_id, institution_name, merchant_name, channel_name,
    sub_merchant_code, sub_merchant_name,shop_code,shop_name,sub_appid, enabled, create_time, update_time, creator,
    modifier, remark, extend1, extend2, extend3, extend4, extend5, extend6,channel_mcc,site_type,site_url,country_code
    </sql>

    <update id="banReport">
        update merchant_report
        set enabled     = #{enabled},
            modifier    = #{modifier},
            update_time = now()
        where id = #{id};
    </update>

    <select id="selectByShopCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from merchant_report where shop_code = #{shopCode};
    </select>

    <select id="pageReport" resultType="com.asianwallets.common.vo.MerchantReportVO">
        select
        id,
        merchant_id as merchantId,
        institution_id as institutionId,
        institution_name as institutionName,
        merchant_name as merchantName,
        channel_name as channelName,
        sub_merchant_code as subMerchantCode,
        sub_merchant_name as subMerchantName,
        create_time as createTime,
        update_time as updateTime,
        update_time as completeTime,
        channel_code as channelCode,
        sub_appid as subAppid,
        shop_code as shopCode,
        shop_name as shopName,
        enabled,
        creator,
        modifier,
        remark,
        extend1,
        extend2
        from merchant_report
        <where>
            <if test="id != null and id !=''">
                AND id = #{id}
            </if>
            <if test="startTime != null and startTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endTime}
            </if>
            <if test="merchantId != null and merchantId !=''">
                AND merchant_id LIKE CONCAT(CONCAT('%',#{merchantId}),'%')
            </if>
            <if test="institutionId != null and institutionId !=''">
                AND institution_id LIKE CONCAT(CONCAT('%',#{institutionId}),'%')
            </if>
            <if test="merchantName != null and merchantName !=''">
                AND merchant_name LIKE CONCAT(CONCAT('%',#{merchantName}),'%')
            </if>
            <if test="institutionName != null and institutionName !=''">
                AND institution_name LIKE CONCAT(CONCAT('%',#{institutionName}),'%')
            </if>
            <if test="enabled != null">
                AND enabled = #{enabled}
            </if>
        </where>
    </select>
    <select id="selectByChannelCodeAndMerchantId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from merchant_report
        where channel_code = #{channelCode}
        and merchant_id = #{merchantId};
    </select>

</mapper>