<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.base.dao.MerchantChannelMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.asianwallets.common.entity.MerchantChannel">
	<result column="id" property="id" />
		<result column="mer_pro_id" property="merProId" />
		<result column="cha_ban_id" property="chaBanId" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="creator" property="creator" />
		<result column="modifier" property="modifier" />
		<result column="remark" property="remark" />
		<result column="enabled" property="enabled" />
		<result column="sort" property="sort" />
	</resultMap>

	<resultMap id="secondResultMap" type="com.asianwallets.common.vo.MerChannelVO">
		<result column="merChannelId" property="merChannelId" />
		<result column="merchantId" property="merchantId" />
		<result column="merchantName" property="merchantName" />
		<result column="productId" property="productId" />
		<result column="productAbbrev" property="productAbbrev" />
		<result column="channelId" property="channelId" />
		<result column="channelName" property="channelName" />
		<result column="channelCurrency" property="channelCurrency" />
		<result column="bankName" property="bankName" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="creator" property="creator" />
		<result column="modifier" property="modifier" />
		<result column="enabled" property="enabled" />
		<result column="sort" property="sort" />
	</resultMap>

	<sql id="Base_Column_List">
        id, mer_pro_id, cha_ban_id, create_time, update_time, creator, modifier, remark,enabled,sort
    </sql>

	<select id="selectByMerProId" resultType="com.asianwallets.common.entity.MerchantChannel">
			select <include refid="Base_Column_List"/>
			from merchant_channel where mer_pro_id = #{merProId} and enabled = true order by sort
	</select>
    <select id="pageFindMerProChannel" resultMap="secondResultMap">
		select mc.id as merChannelId, mp.merchant_id as merchantId,mp.merchant_name as merchantName,
		mp.product_id as productId,mp.product_abbrev as productAbbrev,
		ch.id as channelId, ch.channel_cn_name as channelName,
		ch.currency as channelCurrency,b.bank_name as bankName,
		mp.create_time,mp.update_time,mp.creator,mp.modifier,mp.enabled,
		mp.sort
		from merchant_channel mc
		left join merchant_product mp on mp.id = mc.mer_pro_id
		left join channel_bank cb on cb.id = mc.cha_ban_id
		left join channel ch on ch.id = cb.channel_id
		left join bank b on b.id = cb.bank_id
		<where>
			<if test="merchantId!=null and merchantId != ''">
				and mp.merchant_id=#{merchantId}
			</if>
			<if test="merchantName != null and merchantName != ''">
				and mp.merchant_name LIKE CONCAT(CONCAT('%', #{merchantName}), '%')
			</if>
			<if test="channelName != null and channelName != ''">
				and ch.channel_cn_name=#{channelName}
			</if>
			<if test="productAbbrev != null and productAbbrev != ''">
				and mp.product_abbrev=#{productAbbrev}
			</if>
			<if test="productId != null and productId != ''">
				and mp.product_id=#{productId}
			</if>
			<if test="enabled != null">
				and mc.enabled=#{enabled}
			</if>
			<if test="startTime != null and startTime != ''">
				AND DATE_FORMAT(mc.create_time,'%Y-%m-%d') &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				AND DATE_FORMAT(mc.create_time,'%Y-%m-%d') &lt;= #{endTime}
			</if>
		</where>



	</select>

    <delete id="deleteByMerProId">
        delete
        from merchant_channel
        where mer_pro_id = #{id}
    </delete>


</mapper>
