<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.base.dao.MerchantProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.MerchantProduct">
        <result column="id" property="id"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="product_id" property="productId"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="product_abbrev" property="productAbbrev"/>
        <result column="trade_direction" property="tradeDirection"/>
        <result column="trans_type" property="transType"/>
        <result column="pay_type" property="payType"/>
        <result column="rate_type" property="rateType"/>
        <result column="min_tate" property="minTate"/>
        <result column="max_tate" property="maxTate"/>
        <result column="rate" property="rate"/>
        <result column="add_value" property="addValue"/>
        <result column="limit_amount" property="limitAmount"/>
        <result column="daily_trading_count" property="dailyTradingCount"/>
        <result column="float_rate" property="floatRate"/>
        <result column="divided_ratio" property="dividedRatio"/>
        <result column="divided_mode" property="dividedMode"/>
        <result column="fee_payer" property="feePayer"/>
        <result column="refund_default" property="refundDefault"/>
        <result column="refund_rate_type" property="refundRateType"/>
        <result column="refund_min_tate" property="refundMinTate"/>
        <result column="refund_max_tate" property="refundMaxTate"/>
        <result column="refund_rate" property="refundRate"/>
        <result column="refund_add_value" property="refundAddValue"/>
        <result column="settle_cycle" property="settleCycle"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="audit_remark" property="auditRemark"/>
        <result column="effect_time" property="effectTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="ext1" property="ext1"/>
        <result column="ext2" property="ext2"/>
        <result column="ext3" property="ext3"/>
        <result column="ext4" property="ext4"/>
        <result column="ext5" property="ext5"/>
        <result column="ext6" property="ext6"/>
        <result column="ext7" property="ext7"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant_id,product_id, merchant_name, product_abbrev, trade_direction, trans_type,pay_type,
         rate_type,min_tate,max_tate,rate,add_value,limit_amount,daily_trading_count,float_rate,divided_ratio,divided_mode,
         fee_payer,refund_default,refund_rate_type,refund_min_tate,refund_max_tate,refund_rate,refund_add_value,settle_cycle,
         audit_status,audit_remark,effect_time,create_time,update_time,creator,modifier,remark,enabled,ext1,ext2,ext3,ext4,ext5,
         ext6,ext7
  </sql>

    <select id="getMerchantProductByMerIdAndProId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from merchant_product
        where merchant_id = #{merchantId}
        and product_id = #{productId}
    </select>
    <select id="pageFindMerProduct" resultMap="BaseResultMap">
        select
        mp.id, mp.merchant_id, mp.product_id,  mp.merchant_name,
        case
        when mp.product_abbrev is null then concat(pt.name,"-",p.currency)
        else mp.product_abbrev
        end as product_abbrev,
        mp.trade_direction,  mp.trans_type, mp.pay_type,
        d.name as rate_type,
        mp.min_tate,  mp.max_tate, mp.rate, mp.add_value, mp.limit_amount, mp.daily_trading_count, mp.float_rate, mp.divided_ratio, mp.divided_mode,
        mp.fee_payer, mp.refund_default,  d1.name as refund_rate_type, mp.refund_min_tate, mp.refund_max_tate, mp.refund_rate, mp.refund_add_value, mp.settle_cycle,
        mp.audit_status, mp.audit_remark, mp.effect_time, mp.create_time, mp.update_time, mp.creator, mp.modifier, mp.remark, mp.enabled, mp.ext1, mp.ext2,
        mp.ext3, mp.ext4, mp.ext5,
        mp.ext6, mp.ext7
        from merchant_product mp left join product p on p.id = mp.product_id
        left join pay_type pt on pt.extend1 = p.pay_type and pt.language = #{language}
        left join dictionary d on mp.rate_type = d.code and d.language = #{language}
        left join dictionary d1 on mp.refund_rate_type = d1.code and d1.language = #{language}
        <where>
            <if test="merchantId!=null and merchantId != ''">
                and mp.merchant_id=#{merchantId}
            </if>
            <if test="merchantName != null and merchantName != ''">
                and mp.merchant_name LIKE CONCAT(CONCAT('%', #{merchantName}), '%')
            </if>
            <if test="transType != null and transType != ''">
                and mp.trans_type=#{transType}
            </if>
            <if test="tradeDirection != null and tradeDirection != ''">
                and mp.trade_direction=#{tradeDirection}
            </if>
            <if test="payType != null and payType != ''">
                and mp.pay_type=#{payType}
            </if>
            <if test="enabled != null">
                and mp.enabled=#{enabled}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                and mp.audit_status=#{auditStatus}
            </if>
            <if test="startTime != null and startTime != ''">
                AND mp.DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND mp.DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="exportMerProduct" resultMap="BaseResultMap">
        select
        mp.id, mp.merchant_id, mp.product_id,  mp.merchant_name,
        case
        when mp.product_abbrev is null then concat(pt.name,"-",p.currency)
        else mp.product_abbrev
        end as product_abbrev,
        mp.trade_direction,  mp.trans_type, mp.pay_type,
        d.name as rate_type,
        mp.min_tate,  mp.max_tate, mp.rate, mp.add_value, mp.limit_amount, mp.daily_trading_count, mp.float_rate, mp.divided_ratio, mp.divided_mode,
        mp.fee_payer, mp.refund_default, d1.name as refund_rate_type, mp.refund_min_tate, mp.refund_max_tate, mp.refund_rate, mp.refund_add_value, mp.settle_cycle,
        mp.audit_status, mp.audit_remark, mp.effect_time, mp.create_time, mp.update_time, mp.creator, mp.modifier, mp.remark, mp.enabled, mp.ext1, mp.ext2,
        mp.ext3, mp.ext4, mp.ext5,
        mp.ext6, mp.ext7
        from merchant_product mp left join product p on p.id = mp.product_id
        left join pay_type pt on pt.extend1 = p.pay_type and pt.language = #{language}
        left join dictionary d on mp.rate_type = d.code and d.language = #{language}
        left join dictionary d1 on mp.refund_rate_type = d1.code and d1.language = #{language}
        <where>
            <if test="merchantId!=null and merchantId != ''">
                and mp.merchant_id=#{merchantId}
            </if>
            <if test="merchantName != null and merchantName != ''">
                and mp.merchant_name LIKE CONCAT(CONCAT('%', #{merchantName}), '%')
            </if>
            <if test="transType != null and transType != ''">
                and mp.trans_type=#{transType}
            </if>
            <if test="tradeDirection != null and tradeDirection != ''">
                and mp.trade_direction=#{tradeDirection}
            </if>
            <if test="payType != null and payType != ''">
                and mp.pay_type=#{payType}
            </if>
            <if test="enabled != null">
                and mp.enabled=#{enabled}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                and mp.audit_status=#{auditStatus}
            </if>
            <if test="startTime != null and startTime != ''">
                AND mp.DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND mp.DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endTime}
            </if>
        </where>
    </select>

</mapper>
