<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.base.dao.MerchantAuditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.MerchantAudit">
        <result column="id" property="id"/>
        <result column="institution_id" property="institutionId"/>
        <result column="agent_id" property="agentId"/>
        <result column="agent_type" property="agentType"/>
        <result column="parent_id" property="parentId"/>
        <result column="cn_name" property="cnName"/>
        <result column="en_name" property="enName"/>
        <result column="country_type" property="countryType"/>
        <result column="country" property="country"/>
        <result column="region" property="region"/>
        <result column="mcc" property="mcc"/>
        <result column="merchant_type" property="merchantType"/>
        <result column="group_master_account" property="groupMasterAccount"/>
        <result column="develop_sales" property="developSales"/>
        <result column="company_regist_number" property="companyRegistNumber"/>
        <result column="company_validity" property="companyValidity"/>
        <result column="legal_passport_code" property="legalPassportCode"/>
        <result column="legal_passport_validity" property="legalPassportValidity"/>
        <result column="country_code" property="countryCode"/>
        <result column="institution_adress" property="institutionAdress"/>
        <result column="legal_passport_img" property="legalPassportImg"/>
        <result column="institution_contract" property="institutionContract"/>
        <result column="company_articles" property="companyArticles"/>
        <result column="business_certificate" property="businessCertificate"/>
        <result column="institution_phone" property="institutionPhone"/>
        <result column="legal_name" property="legalName"/>
        <result column="business_category" property="businessCategory"/>
        <result column="business_license" property="businessLicense"/>
        <result column="industry_category" property="industryCategory"/>
        <result column="merchant_postal_code" property="merchantPostalCode"/>
        <result column="merchant_email" property="merchantEmail"/>
        <result column="merchant_web_url" property="merchantWebUrl"/>
        <result column="contact_address" property="contactAddress"/>
        <result column="contact_people" property="contactPeople"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="ext1" property="ext1"/>
        <result column="ext2" property="ext2"/>
        <result column="ext3" property="ext3"/>
        <result column="ext4" property="ext4"/>
        <result column="ext5" property="ext5"/>
        <result column="ext6" property="ext6"/>
        <result column="ext7" property="ext7"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
    </resultMap>
    <select id="pageFindMerchantAudit" resultMap="BaseResultMap">
        select
        m.institution_id,
        m.agent_id,
        m.parent_id,
        i.cn_name as ext5,
        m1.cn_name as ext6,
        m2.cn_name as ext7,
        m.agent_type,
        m.id,m.cn_name,m.en_name,m.country_type,co.country_name as country,c1.area_name as region,
        m.company_regist_number,m.company_validity,m.legal_passport_code,m.legal_passport_validity,
        co.area_code as country_code,m.institution_adress,m.legal_passport_img,m.institution_contract,
        m.company_articles,m.business_certificate,m.institution_phone,m.develop_sales,
        m.legal_name,m.business_category,m.business_license,m.industry_category,m.merchant_postal_code,m.merchant_email,m.merchant_web_url,
        m.contact_address,m.contact_people,m.contact_phone,m.audit_status,m.ext7,m.ext6,m.ext5,m.ext4,m.ext3,m.ext2,m.ext1,m.create_time,m.update_time,
        m.creator,m.modifier,m.remark,m.enabled
        from merchant_audit m
        left join institution i on m.institution_id = i.id
        left join merchant m1 on m.agent_id = m1.id
        left join merchant m2 on m.parent_id = m2.id
        left join country co on m.country = co.extend1 and co.language = #{language}
        left join country c1 on m.region = c1.extend1 and c1.language = #{language}
        <where>
            <if test="merchantId!=null and merchantId != ''">
                and m.id=#{merchantId}
            </if>
            <if test="merchantType!=null and merchantType != ''">
                and m.merchant_type=#{merchantType}
            </if>
            <if test="cnName != null and cnName != ''">
                and m.cn_name LIKE CONCAT(CONCAT('%', #{cnName}), '%')
            </if>
            <if test="enabled != null">
                and m.enabled=#{enabled}
            </if>
            <if test="country != null and country != ''">
                and i.country=#{country}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                and m.audit_status=#{auditStatus}
            </if>
            <if test="startTime != null and startTime != ''">
                AND DATE_FORMAT(m.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND DATE_FORMAT(m.create_time,'%Y-%m-%d') &lt;= #{endTime}
            </if>
            <if test="institutionName != null and institutionName != ''">
                and  i.cn_name=#{institutionName}
            </if>
            <if test="institutionId != null and institutionId != ''">
                and  i.id=#{institutionId}
            </if>
            <if test="agentId != null and agentId != ''">
                and  m1.agent_id=#{agentId}
            </if>
            <if test="agentName != null and agentName != ''">
                and i.cn_name=#{agentName}
            </if>
            <if test="groupMasterAccount != null and groupMasterAccount != ''">
                and  m.group_master_account=#{groupMasterAccount}
            </if>
        </where>
    </select>

    <select id="getMerchantAuditInfo" resultMap="BaseResultMap">
		select
		m.institution_id,
        m.agent_id,
        m.parent_id,
        i.cn_name as ext5,
        m1.cn_name as ext6,
        m2.cn_name as ext7,
        m.agent_type,
		m.id,m.cn_name,m.en_name,m.country_type,m.country as country,m.mcc,m.region as region,m.merchant_type,m.group_master_account,m.develop_sales,
		m.company_regist_number,m.company_validity,m.legal_passport_code,m.legal_passport_validity,
		co.area_code as country_code,m.institution_adress,m.legal_passport_img,m.institution_contract,m.company_articles,m.business_certificate,m.institution_phone,
		m.legal_name,m.business_category,m.business_license,m.industry_category,m.merchant_postal_code,m.merchant_email,m.merchant_web_url,
		m.contact_address,m.contact_people,m.contact_phone,m.audit_status,m.ext7,m.ext6,m.ext5,m.ext4,m.ext3,m.ext2,m.ext1,m.create_time,m.update_time,
		m.creator,m.modifier,m.remark,m.enabled
		from merchant_audit m
		left join institution i on m.institution_id = i.id
		left join merchant m1 on m.agent_id = m1.id
        left join merchant m2 on m.parent_id = m2.id
		left join country co on m.country = co.extend1 and co.language = #{language}
		   left join country c1 on m.region = c1.extend1 and c1.language = #{language}
		where
		m.id=#{id}
	</select>

</mapper>
