<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asianwallets.base.dao.ShareBenefitLogsMapper">
    <resultMap id="BaseResultMap" type="com.asianwallets.common.entity.ShareBenefitLogs">
        <result column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="institution_id" property="institutionId"/>
        <result column="institution_name" property="institutionName"/>
        <result column="merchant_name" property="merchantName"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="channel_code" property="channelCode"/>
        <result column="channel_name" property="channelName"/>
        <result column="agent_id" property="agentId"/>
        <result column="agent_name" property="agentName"/>
        <result column="agent_type" property="agentType"/>
        <result column="order_type" property="orderType"/>
        <result column="trade_currency" property="tradeCurrency"/>
        <result column="trade_amount" property="tradeAmount"/>
        <result column="fee" property="fee"/>
        <result column="share_benefit" property="shareBenefit"/>
        <result column="is_share" property="isShare"/>
        <result column="divided_mode" property="dividedMode"/>
        <result column="divided_ratio" property="dividedRatio"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="remark" property="remark"/>
        <result column="extend1" property="extend1"/>
        <result column="extend2" property="extend2"/>
        <result column="extend3" property="extend3"/>
        <result column="extend4" property="extend4"/>
        <result column="extend5" property="extend5"/>
        <result column="extend6" property="extend6"/>
    </resultMap>

    <sql id="BaseSql">
        id,order_id, institution_id,institution_name,merchant_name,merchant_id,channel_code,channel_name,agent_id,agent_name,agent_type,order_type,
        trade_currency,trade_amount,fee,share_benefit,is_share,divided_mode,divided_ratio,create_time,update_time,creator,modifier,remark,extend1,
        extend2,extend3,extend4,extend5,extend6
    </sql>

    <resultMap id="QueryAgencyShareBenefitVOMap" type="com.asianwallets.common.vo.QueryAgencyShareBenefitVO">
        <result column="createTime" property="createTime" jdbcType="VARCHAR"/>
        <result column="agentId" property="agentId" jdbcType="VARCHAR"/>
        <result column="agentName" property="agentName" jdbcType="VARCHAR"/>
        <result column="merchantId" property="merchantId" jdbcType="VARCHAR"/>
        <result column="merchantName" property="merchantName" jdbcType="VARCHAR"/>
        <result column="agentType" property="agentType" jdbcType="VARCHAR"/>
        <result column="tradeCurrency" property="tradeCurrency" jdbcType="VARCHAR"/>
        <result column="tradeAmount" property="tradeAmount" jdbcType="DECIMAL"/>
        <result column="fee" property="fee" jdbcType="DECIMAL"/>
        <result column="dividedRatio" property="dividedRatio" jdbcType="DECIMAL"/>
        <result column="shareBenefit" property="shareBenefit" jdbcType="DECIMAL"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="extend1" property="productCode" jdbcType="VARCHAR"/>
        <result column="extend2" property="productName" jdbcType="VARCHAR"/>
        <result column="extend3" property="channelCode" jdbcType="VARCHAR"/>
        <result column="extend4" property="channelName" jdbcType="VARCHAR"/>
        <result column="extend5" property="merchantOrderId" jdbcType="VARCHAR"/>
        <result column="extend6" property="channelOrderId" jdbcType="VARCHAR"/>
        <result column="extend7" property="orderFee" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ShareBenefitStatisticalVOMap" type="com.asianwallets.common.vo.ShareBenefitStatisticalVO">
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="pageAgencyShareBenefit" resultMap="QueryAgencyShareBenefitVOMap">
        SELECT create_time as createTime,
        order_id as orderId,
        trade_amount as tradeAmount,
        trade_currency as tradeCurrency,
        fee as fee,
        is_share as isShare,
        divided_ratio as dividedRatio,
        share_benefit as shareBenefit,
        agent_id as agentId,
        agent_name as agentName,
        merchant_id as merchantId,
        merchant_name as merchantName,
        agent_type as agentType,
        remark,
        extend1,
        extend2,
        extend3,
        extend4,
        extend6,
        extend5,
        extend7
        FROM share_benefit_logs
        where institution_id = #{institutionCode}
        <if test="agentId != null and agentId != ''">
            AND agent_id = #{agentId}
        </if>
        <if test="agentName != null and agentName != ''">
            AND agentName LIKE CONCAT(CONCAT('%', #{agentName}), '%')
        </if>
        <if test="merchantId != null and merchantId != ''">
            AND merchant_id = #{merchantId}
        </if>
        <if test="merchantName != null and merchantName != ''">
            AND merchant_name LIKE CONCAT(CONCAT('%', #{merchantName}), '%')
        </if>
        <if test="agentType != null and agentType != ''">
            AND agent_type = #{agentType}
        </if>
        <if test="orderId != null and orderId != ''">
            AND order_id = #{orderId}
        </if>
        <if test="tradeCurrency != null and tradeCurrency != ''">
            AND trade_currency = #{tradeCurrency}
        </if>
        <if test="isShare != null and isShare != ''">
            AND is_share = #{isShare}
        </if>
        <if test="startDate != null and startDate != ''">
            AND create_time &gt;= #{startDate}
        </if>
        <if test="endDate != null  and endDate != ''">
            AND create_time &lt;= #{endDate}
        </if>
    </select>


    <select id="exportAgencyShareBenefit" resultMap="QueryAgencyShareBenefitVOMap">
        SELECT create_time as createTime,
        order_id as orderId,
        trade_amount as tradeAmount,
        trade_currency as tradeCurrency,
        fee as fee,
        is_share as isShare,
        divided_ratio as dividedRatio,
        share_benefit as shareBenefit,
        agent_id as agentId,
        agent_name as agentName,
        merchant_id as merchantId,
        merchant_name as merchantName,
        agent_type as agentType,
        remark,
        extend1,
        extend2,
        extend3,
        extend4,
        extend6,
        extend5,
        extend7
        FROM share_benefit_logs
        where institution_id = #{institutionCode}
        <if test="agentId != null and agentId != ''">
            AND agent_id = #{agentId}
        </if>
        <if test="agentName != null and agentName != ''">
            AND agentName LIKE CONCAT(CONCAT('%', #{agentName}), '%')
        </if>
        <if test="merchantId != null and merchantId != ''">
            AND merchant_id = #{merchantId}
        </if>
        <if test="merchantName != null and merchantName != ''">
            AND merchant_name LIKE CONCAT(CONCAT('%', #{merchantName}), '%')
        </if>
        <if test="agentType != null and agentType != ''">
            AND agent_type = #{agentType}
        </if>
        <if test="orderId != null and orderId != ''">
            AND order_id = #{orderId}
        </if>
        <if test="tradeCurrency != null and tradeCurrency != ''">
            AND trade_currency = #{tradeCurrency}
        </if>
        <if test="isShare != null and isShare != ''">
            AND is_share = #{isShare}
        </if>
        <if test="startDate != null and startDate != ''">
            AND create_time &gt;= #{startDate}
        </if>
        <if test="endDate != null  and endDate != ''">
            AND create_time &lt;= #{endDate}
        </if>
    </select>
    <select id="shareBenefitStatistical" resultMap="ShareBenefitStatisticalVOMap">
        SELECT trade_currency as currency,sum(share_benefit) as amount
        FROM share_benefit_logs
        where agent_id = #{agentId}
        and is_share = 2
        <if test="startDate != null and startDate != ''">
            AND create_time &gt;= #{startDate}
        </if>
        <if test="endDate != null  and endDate != ''">
            AND create_time &lt;= #{endDate}
        </if>
        group by trade_currency
    </select>

</mapper>
